.about__wrapper {
  padding: 29px 30px 55px;
  max-width: 500px;
  margin: 0 auto;
}

.about__header {
  margin: 0;
  padding-bottom: 32px;
  font-size: 25px;
  text-align: left;
  line-height: 30px;
  color: black;
}

.about__list {
  .resetList();
}

.about__item {
  &:nth-child(1) {
    padding-bottom: 30px;
  }

  &:nth-child(1) svg {
    margin-left: 8px;
  }

  &:nth-child(2) {
    padding-bottom: 36px;
  }

  &:nth-child(2) .about__item-content {
    padding-top: 20px;
  }

  &:nth-child(3) {
    padding-bottom: 30px;
  }

  &:nth-child(3) svg {
    margin-left: 7px;
  }

  &:nth-child(3) .about__item-content {
    padding-top: 17px;
  }

  &:nth-child(4) {
    padding-bottom: 32px;
  }

  &:nth-child(4) svg {
    margin-left: 3px;
  }

  &:nth-child(4) .about__item-content {
    padding-top: 13px;
  }

  &:nth-child(5) {
    padding-bottom: 32px;
  }

  &:nth-child(5) svg {
    margin-left: -6px;
  }

  &:nth-child(5) .about__item-content {
    padding-top: 23px;
  }

  &:nth-child(6) .about__item-content {
    padding-top: 14px;
  }

  &:nth-child(6) svg {
    margin-left: 3px;
  }
}

.about__item-image {
  fill: @green;
}

.about__item-content {
  margin: 0;
  padding-top: 12px;
  // padding-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  color: black;
  font-weight: @bold;
}

@media (min-width: @tablet) {
  .about__wrapper {
    width: 768px;
    padding: 48px;
    padding-left: 46px;
    padding-bottom: 53px;
    max-width: initial;
    margin: 0 auto;
  }

  .about__header {
    .setFont(43px, black, 50px, @bold, left);
    padding-bottom: 47px;
  }

  .about__list {
    .resetList();
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
  }

  .about__item {
    width: 50%;
    padding-right: 30px;

    &:nth-child(1) {
      order: 1;
      padding-bottom: 60px;
    }

    &:nth-child(1) svg {
      margin-left: 8px;
    }

    &:nth-child(2) {
      order: 3;
      padding-bottom: 62px;
    }

    &:nth-child(2) .about__item-content {
      padding-top: 20px;
    }

    &:nth-child(3) {
      order: 5;
      padding-bottom: 30px;
    }

    &:nth-child(3) svg {
      margin-left: 7px;
    }

    &:nth-child(3) .about__item-content {
      padding-top: 17px;
    }

    &:nth-child(4) {
      order: 2;
      padding-bottom: 32px;
    }

    &:nth-child(4) svg {
      margin-left: 3px;
    }

    &:nth-child(4) .about__item-content {
      padding-top: 13px;
    }

    &:nth-child(5) {
      order: 4;
      padding-bottom: 32px;
    }

    &:nth-child(5) svg {
      margin-left: -6px;
    }

    &:nth-child(5) .about__item-content {
      padding-top: 23px;
    }

    &:nth-child(6) {
      order: 6;
    }

    &:nth-child(6) .about__item-content {
      padding-top: 14px;
    }

    &:nth-child(6) svg {
      margin-left: 3px;
    }
  }

  .about__item-image {
    fill: @green;
  }

  .about__item-content {
    font-size: 20px;
    line-height: 22px;
    text-align: left;
    color: black;
    font-weight: @bold;
  }
}

@media (min-width: @desktop) {
  .about {
    padding: 0;
  }

  .about__wrapper {
    width: 700px;
    padding: 0;
    margin: 0 auto;
  }
}
