.about {
  padding: 33px 30px;
}

.about__header {
  margin: 0;
  font-size: 25px;
  text-align: left;
  line-height: 30px;
  color: black;
}

.about__list {
  .resetList();
}

.about__item-image {
  fill: @green;
}

.about__item-content {
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  color: black;
  font-weight: @bold;
}

@media (min-width: @tablet) {
  .about {
    padding: 33px 50px;
  }

  .about__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .about__header {
    .setFont(43px, black, 50px, @bold, left);
    padding-bottom: 47px;
  }

  .about__list {
    .resetList();
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 50%;
    padding-bottom: 60px;
    padding-right: 30px;
  }

  .about__item-image {
    fill: @green;
  }

  .about__item-content {
    font-size: 17px;
    line-height: 20px;
    text-align: left;
    color: black;
    font-weight: @bold;
  }
}
