.contacts__term {
  width: 48px;
  margin-right: 31px;
  font-size: 15px;
}

.contacts__definition {
  text-align: left;
  margin: 0;
}

.contacts__map-wrapper {
  height: 457px;
  background:
    url("../img/icon-map-pin.svg") 55% 40% no-repeat,
    url("../img/map-mobile@1x.jpg") no-repeat;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__map-wrapper {
    background:
      url("../img/icon-map-pin.svg") 55% 40% no-repeat,
      url("../img/map-mobile@2x.jpg") no-repeat;
    background-size: auto, 100%;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  display: table;
  padding-bottom: 20px;
}

.contacts__row {
  display: table-row;
}

.contacts__cell {
  display: table-cell;
}

.contacts__option {
  padding-right: 32px;
}
