.input__text {
  height: 52px;
  border: none;
  border-bottom: 2px solid black;
  .setFont(19px, @dark-grey, 18px, @regular, left);
  padding: 10px;
  padding-top: 12px;
  padding-left: 0;

  &:hover {
    border-bottom-color: @green;
  }

  &:focus {
    border-bottom-color: @green;
  }
}

.input__textarea {
  .setFont(19px, @dark-grey, 18px, @regular, left);
  padding: 10px;
  padding-top: 10px;
  padding-left: 14px;
  margin: 23px 0 16px;
  width: 100%;
  height: 142px;
  border: 2px solid black;

  &:hover {
    border-color: @green;
  }

  &:focus {
    border-color: @green;
  }
}

.input__text-label {
  display: flex;
  flex-direction: column;
  .setFont(17px, black, 18px, @bold, left);
}

.input__check-label,
.input__radio-label {
  .setFont(17px, black, 18px, @bold, left);
}

.input__check {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: -9999px;

  &:focus + .input__check-label::before {
    border: 2px solid @green;
  }

  &:disabled + .input__check-label,
  &:disabled + .input__check-label::before {
    opacity: 0.5;
  }

  &:checked + .input__check-label::after {
    opacity: 1;
  }

  &:not(:checked) + .input__check-label::after {
    opacity: 0;
  }
}

.input__check-label {
  display: inline-block;
  position: relative;
  padding-left: 62px;
  line-height: 39px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 39px;
    background-size: 22px 16px;
    border: 2px solid @dark-grey;
    background-color: #ffffff;
  }

  &:hover::before {
    border: 2px solid @green;
  }

  &:active::before {
    border: 2px solid @dark-grey;
    opacity: 0.3;
  }

  &::after {
    background: url("../img/tick-mobile.svg") center no-repeat;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
  }
}

.input__radio {
  position: absolute;
  // appearance: none;
  width: 35px;
  height: 35px;
  top: -12px;
  left: 0;

  &:focus + .input__radio-label::before {
    border: 2px solid @green;
  }

  &:disabled + .input__radio-label,
  &:disabled + .input__radio-label::before {
    opacity: 0.5;
  }

  &:checked + .input__radio-label::after {
    opacity: 1;
  }

  &:not(:checked) + .input__radio-label::after {
    opacity: 0;
  }
}

.input__radio-label {
  display: inline-block;
  position: relative;
  // height: 40px;
  padding-left: 63px;
  padding-bottom: 0;
  // line-height: 39px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &:hover::before {
    border: 2px solid @green;
  }

  &:active::before {
    border: 2px solid @dark-grey;
    opacity: 0.3;
  }

  &::after {
    background: url("../img/icon-radio-yes.svg") center no-repeat;
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
    width: 40px;
    height: 40px;
    background-size: 16px 16px;
  }
}

.input__text::placeholder,
.input__textarea::placeholder {
  font-family: "Open Sans", "Tahoma", sans-serif;
  .setFont(17px, rgba(@dark-grey-rgb, 0.3), 18px, @regular, left);
  padding-top: 12px;
}

@media (min-width: @tablet) {
  .input__radio {
    position: absolute;
    width: 0;
    height: 0;
    appearance: none;
    top: 0;
    left: 0;
  }

  .input__radio-label {
    padding-left: 80px;
    padding-bottom: 0;
    line-height: 53px;

    &::before {
      left: 0;
      top: 0;
      width: 52px;
      height: 53px;
    }

    &::after {
      left: 0;
      top: 0;
      width: 52px;
      height: 53px;
      background-size: 22px 22px;
    }
  }

  .input__check {
    position: absolute;
    width: 34px;
    height: 34px;
    appearance: none;
  }

  .input__check-label {
    padding-left: 80px;
    line-height: 52px;

    &::before {
      width: 54px;
      height: 52px;
      background-size: 33px 22px;
      background-color: transparent;
    }

    &::after {
      background: url("../img/icon-tick.svg") center no-repeat;
      width: 54px;
      height: 52px;
    }
  }

  .input__text-label {
    font-size: 19px;
  }

  .input__check-label,
  .input__radio-label {
    font-size: 19px;
  }

  .input__text {
    background-color: transparent;
  }

  .input__text,
  .input__textarea {
    padding-top: 12px;
    font-family: "Open Sans", "Tahoma", sans-serif;
    .setFont(19px, @dark-grey, 18px, @regular, left);
  }

  .input__text::placeholder,
  .input__textarea::placeholder {
    padding-top: 5px;
    font-family: "Open Sans", "Tahoma", sans-serif;
    .setFont(19px, rgba(@dark-grey-rgb, 0.3), 18px, @regular, left);
  }
}
