.page-header {
  width: 100%;
}

.page-header__controls {
  padding: 22px 31px 22px 117px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.page-header__toggle {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.page-header__toggle-image {
  display: block;

  &--close {
    display: none;
  }
}

.page-header__toggle.menu-open .page-header__toggle-image {
  display: none;

  &--close {
    display: block;
  }
}

.page-header__toggle.menu-open--default {
  display: none;
}

.page-header__nav {
  display: none;
  z-index: 1;
}

.page-header__nav.menu-open.menu-open--default {
  display: block;
  position: static;
}

.page-header__nav.menu-open {
  width: 100%;
  display: block;
  position: absolute;
  background-color: white;
}

.page-header__nav-list {
  .resetList();
  display: flex;
  flex-direction: column;
}

.page-header__nav-item {
  &--not-mobile {
    display: none;
  }
}

.page-header__nav-link {
  display: block;
  padding-left: 75px;
  position: relative;
  line-height: 79px;
  text-align: left;
  width: 100%;
  text-decoration: none;
  color: black;
  font-weight: @bold;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.page-header__nav-image {
  position: absolute;
  top: 31px;
  left: 30px;
  opacity: 0.2;
}
