.page-main {
  z-index: 0;
}

.page-main__header-wrapper {
  background: #fbfbfb url("../img/hero-mobile@1x.jpg") center -13% no-repeat;

  &--not-index {
    background-image: none;
    background-color: #f1f1f1;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-main__header-wrapper {
    background: #fbfbfb url("../img/hero-mobile@2x.jpg") center 0% no-repeat;
    background-size: auto 75%;

    &--not-index {
      background-image: none;
      background-color: #f1f1f1;
    }
  }
}

.page-main__header {
  margin: 0 auto;
  width: 260px;
  .setFont(27px, black, 30px, @bold, center);

  &--index {
    padding: 72px 0 121px;
  }

  &--catalog,
  &--form {
    padding: 72px 0 75px;
    background-color: @light-grey;
  }
}

.page-main__categories-list {
  .resetList();
  display: flex;
  flex-direction: column;
}

.page-main__categories-link {
  position: relative;
  display: block;
  padding: 25px 28px 30px;
  text-align: left;
  background-color: @green;
  text-decoration: none;
  font-size: 19px;
  color: white;
  line-height: 24px;
  font-weight: @bold;

  &::after {
    position: absolute;
    opacity: 0.5;
    content: "";
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    background: url("../img/icon-interior.svg");
  }

  &--dark {
    background-color: @dark-green;

    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      top: 21px;
      right: 27px;
      background: url("../img/icon-toy.svg") no-repeat;
    }
  }

  &:hover {
    transform: translateY(-5px);
    padding-bottom: 35px;
    margin-bottom: -5px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active::after {
    opacity: 0.3;
  }
}

.page-main__zigzag {
  display: none;
}

@media (min-width: @tablet) {
  .page-main__header-wrapper {
    position: relative;
    background: url("../img/hero-tablet@1x.jpg") center 0% no-repeat;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: -6px;
      background: url("../img/bg-zigzag-fill.svg");
      background-size: 100%;
    }

    &--not-index {
      background-image: none;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__header-wrapper {
      background: url("../img/hero-tablet@2x.jpg") center 0% no-repeat;
      background-size: cover;
    }
  }

  .page-main__header {
    .setFont(43px, black, 50px, @bold, center);
    width: auto;

    &--index {
      width: 500px;
      padding: 161px 0 370px;
      padding-top: 155px;
      padding-bottom: 371px;
    }

    &--catalog {
      padding: 96px 195px 85px;
    }

    &--form {
      padding: 94px 180px 87px;
    }
  }

  .page-main__categories {
    padding: 0 50px;
    padding-bottom: 7px;
  }

  .page-main__categories-list {
    display: flex;
    flex-direction: row;
  }

  .page-main__categories-item {
    width: 100%;
  }

  .page-main__categories-link {
    .setFont(20px, white, 30px, @bold, left);
    padding-top: 28px;
    padding-left: 35px;

    &::after {
      position: absolute;
      opacity: 0.5;
      content: "";
      top: 30px;
      right: 36px;
      width: 40px;
      height: 62px;
      background: url("../img/icon-interior.svg");
    }

    &--dark {
      background-color: @dark-green;

      &::after {
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        top: 31px;
        right: 34px;
        background: url("../img/icon-toy.svg") no-repeat;
      }
    }
  }
}

@media (min-width: @desktop) {
  .page-main__wrapper {
    background-color: #f9f9f9;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 34px;
      bottom: -2px;
      background: url("../img/bg-zigzag-fill.svg") 12px 0;
      background-size: 1250px 34px;
    }

    &--not-index {
      background-color: #f1f1f1;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 34px;
        bottom: -2px;
        background: url("../img/bg-zigzag-fill.svg") 0 0;
        background-size: 1150px 34px;
      }
    }
  }

  .page-main__header-wrapper {
    position: relative;
    width: 1150px;
    margin: 0 auto;
    background: url("../img/hero-desktop@1x.jpg") center no-repeat;
    background-size: cover;

    &--not-index {
      background-image: none;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__header-wrapper {
      background: url("../img/hero-desktop@2x.jpg") center 0% no-repeat;
      background-size: cover;
    }
  }

  .page-main__header {
    .setFont(53px, black, 57px, @bold, center);
    width: auto;

    &--index {
      width: 620px;
      padding: 152px 0 359px;
    }

    &--form,
    &--catalog {
      padding: 93px 180px 120px;
    }
  }

  .page-main__categories {
    padding-bottom: 16px;
  }
}
