.product-of-the-week {
  background: url("../img/bg-zigzag-line.svg") -5% 100% no-repeat;
  background-size: 100%;
}

.product-of-the-week__wrapper {
  padding: 35px 30px;
}

.product-of-the-week__name {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: @bold;
}

.product-of-the-week__label {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  color: @green;
}

.product-of-the-week__description {
  font-size: 15px;
  font-weight: @regular;
  line-height: 24px;
  color: @dark-grey;
}

.product-of-the-week__list {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  display: table;
  color: @dark-grey;
}

.product-of-the-week__row {
  display: table-row;
}

.product-of-the-week__cell {
  display: table-cell;
  border-bottom: 1px solid #ececec;
}

.product-of-the-week__option {
  padding-right: 31px;
}

.product-of-the-week__cost {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: @dark-grey;
  font-weight: @bold;
}

.product-of-the-week__buy {
  width: 100%;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: @dark-grey;
  font-weight: @bold;
  border: 2px solid @dark-grey;
  // margin-bottom: 36px;
}
