.reviews {
  padding-bottom: 20px;
  background: url("../img/bg-zigzag-line.svg") -5% 100% no-repeat;
  background-size: 100%;
}

.reviews__list {
  .resetList();
}

.reviews__header {
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  color: black;
  font-weight: @bold;
}

.reviews__item-content {
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: @dark-grey;
}

.reviews__item-name {
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  color: black;
  font-weight: @bold;
}

.reviews__item-insta {
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  color: @dark-grey;
  font-weight: @regular;
}
